.indent {
    margin-left: 20px;
}

.numbering {
    color: orange;
}

.yellow {
    color: yellow;
}

.red {
    color: rgb(247, 98, 57);
}

.bold {
    font-weight: bold;
}

/* 
p {
  margin-bottom: 10px;
} */
