/* Layout Styles */
.competitions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

/* Competition Item Styles */
.competition {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #4a4a4a;
    border-radius: 16px;
    min-width: 250px;
    flex: 1;
}

/* Competition Title Row */
.title-row {
    border-bottom: solid 1px gray;
    display: flex;
}

.title-and-date-container {
    width: 100%;
}

.title {
    margin: 0;
    font-size: 1.25rem;
}

/* Calendar Date within Competition Title */
.calendar-date-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.2rem;
}

.date {
    display: inline-block;
}

/* Locked Status within Competition Title */
.locked-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 115px;
}

.locked {
    padding: 0.25rem 0.75rem;
    column-gap: 0.2rem;
    display: inline-flex;
    align-items: center;
}

/* Event List within Competition */
.events-list {
    display: flex;
    justify-content: flex-start;
    column-gap: 0.3rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
}

.event {
    background-color: rgb(219 234 254);
    color: rgb(30 64 175);
    padding: 0.25rem 0.75rem;
    border-radius: 9999px; /* pill shape */
    font-size: 0.875rem;
    line-height: 1.25rem;
}

/* Competition Actions (Buttons) */
.comp-btns {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.3rem;
    margin-top: 0.5rem;
}

.delete-button,
.edit-button,
.lock-button {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    padding: 2px 5px;
    cursor: pointer;
}

.delete-button:active,
.edit-button:active {
    transform: translateY(2px);
}

.lock-button:active {
    transform: translateY(2px) scale(0.9);
}
